:root {
  --fontBody: 'Open Sans', system-ui, sans-serif;
  --fontTitle: 'Press Start 2P', 'Courier New', monospace;
}

html {
  font-family: var(--fontBody);
}

h1, h2, h3 {
  font-family: var(--fontTitle);
  letter-spacing: 1px;
}