/* Base reset and universal settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; /* or Pokémon-style font */
}

body, p, li {
  font-family: var(--fontBody);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
  line-height: 1.5;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 3vw, 4rem);
  font-family: var(--fontTitle);
  color: #2a75bb;
}

h2 {
  font-size: clamp(1.75rem, 1.3rem + 2vw, 3rem);
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h3 {
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.25rem);
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5em;
}

a {
  color: #2a75bb;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }
.mt2 { margin-top: 2rem; }
.mb2 { margin-bottom: 2rem; }
.textCenter { text-align: center; }
.textRight { text-align: right; }
.textUppercase { text-transform: uppercase; }

/* Utility classes */
.hidden {
  display: none !important;
}

/* Image scaling */
img {
  max-width: 100dvw;
}

/* Inputs and Buttons */
input,
button {
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
}
