/* Main Layout Container */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Styling */
section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Content Wrapper inside Sections */
.content {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* #region headerLayout */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 4px solid #3b4cca;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #2a75bb;
}

#pokemonLogo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40% 40% 24% 24%;
}

/* #endregion headerLayout */

#searchInput {
  flex: 1;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid #3b4cca;
}

#searchButton {
  padding: 0.5rem 1rem;
  background-color: #3b4cca;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
  }

  #titleBanner h1 {
    font-size: 1.5rem;
  }

  #searchInput {
    width: 100%;
  }
}
